/* Bungee Font */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, 
      rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%), url(../Assets/Images/bg-backstage.jpg), no-repeat center center scroll;   
      background-attachment: fixed;
      background-size: cover;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; 
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */

  /* variables can go here */
  --white: #FFFFFF;
  --dark-grey-24: #242424;
  --dark-grey-30: #303030;
  --light-grey: #9A9A9A;
  --light-grey-D: #DDDDDD;
  --green: #6bfe6b;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

html,
body {
  font-size: 1.6rem;
  color: white;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  /* components for layout structure */
  display: flex;
  flex-direction: column;
  align-items: center;   /* centers the content horizontally */
  font-family: 'Bungee';
  min-height: 100dvh;   /* uses min height so that the body can expand as needed */
}

/*------------------------------------ end minimal css reset -----------------------------------*/

/* general styles */
a {
  color: var(--white);
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  transition: color 250ms ease-in-out;
}

a:hover::after {
  width: 100%;
  left: 0;
}

/* all nav styles */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 100%;
  background: var(--dark-grey-24);
  margin-bottom: 4rem;
  text-transform: capitalize;
  font-family: 'bungee';
  z-index: 999;
}

.link-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.link-container > a::after, .menu > a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--green);
  transition: width 0.3s ease, left 0.3s ease;
}

.link-container > a:hover, .menu > a:hover { 
  color: var(--green);
  transition: all 250ms ease-in-out;
}

nav img {
  padding-top: 4.8rem;
  height: 26rem; 
}


.menu { 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80dvh;
  width: 100%;
  z-index: -1;
  margin-top: auto;
  flex-direction: column;
}

.dropdown, .mobile-dropdown {
  position: relative;
  display: inline-block;
}

.mobile-dropdown .dropbtn {
  all: unset;
  color: var(--white);
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
}

.nav-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--dark-grey-24);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 160px;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: .75rem
}

#about-dropdown-inner {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

.dropdown:hover .nav-dropdown {
  display: flex;
}

.dropdown a {
  color: var(--white);
  padding: 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown a:hover {
  background-color: var(--light-grey);
}

#menubtn {
  display: none;
}

#mobile-logo {
  display: none;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  gap: 1dvw;
  background: var(--light-grey-D);
  margin-top: 0; /* Remove margin-top to place it directly above the footer */
}

.socials > a > i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 3rem;
  background: var(--dark-grey-30);
  padding: 1.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  color: var(--green);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  height: fit-content;
  font-family: "Bungee", sans-serif;
  color: var(--white);
  width: 100%;
  
  padding: 2rem;
  background: var(--dark-grey-24);
  font-size: 1.8rem;

  margin-top: auto; /* Ensure no extra space between socials and footer */
}

footer img {
  max-width: 15dvw;
}


.mobile-menu {
  display: none; 
  position: absolute;
  top: 0;
  flex-direction: column;
  padding: 8rem;
  height: 100dvh;
  width: 100%;
  background: var(--dark-grey-24);
  z-index: 1;
  transition: all 750ms ease-in-out;
  gap: 2rem;
}

.fa-times {
  display: block;
  position: absolute;
  top: 4rem;
  right: 2rem;
}

a, .dropbtn {
  all: unset;
  font-family: bungee;
  font-size: 2.2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 250ms ease-in-out;
}

.mobile-menu a:hover, .mobile-menu a:focus, .dropbtn:hover {
  color: var(--green);
  transition: color 250ms ease-in-out;
}

.m-drop {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
}

.m-drop > a {
  margin-top: -1.5rem;
  margin-bottom: .5rem;
  margin-left: 1.5rem;
}



.shop-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.shop-grid > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: var(--dark-grey-30);
  height: auto;
  padding-bottom: 5vh;
}

.shop-grid > div > span {
  margin-top: 2rem;
}

.hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5); /* semi-transparent overlay */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 99;
}

.shop-grid > div {
  position: relative; /* necessary for absolute positioning of .hover */
}

.shop-grid > div:hover .hover {
  opacity: 1;
}

@keyframes spinUp {
  0% {
      rotate: 0deg;
  }
  100% {
      rotate: 180deg;
  }
}

@keyframes spinDown {
  0% {
      rotate: 180deg;
  }
  100% {
      rotate: 0deg;
  }
}

/* media queries */
/* Tablet */
/* Mobile */

@media only screen and (max-width: 960px) {
  /* make grid smaller */
  .shop-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem
  }
}
@media only screen and (max-width: 950px) {
  /* make the menu icon appear and nav elements disappear */
  nav > :not(.mobile-nav, .menu){
      display: none;
  }

  nav {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  nav img {
    height: 15rem;
  }

  .link-container {
      display: none;
  }

  #nav-logo {
      display: block;
      position: absolute;
      margin: auto auto;
  }

  #menubtn {
      display: block;
      margin-left: auto;
      margin-right: 2rem;
  }

  h1, h2, h3, h4, h5, h6, p, ol, ul, img {
      max-width: 100%;
      padding: .75rem;
  }

  footer {
      flex-direction: column;
      gap: 1rem;
      font-size: 1.3rem;  
      z-index: 999;      
  }

  footer img {
      max-width: 80%;
  }

  .socials > a > i {
      width: 4rem;
      height: 4rem;
      font-size: 2rem;
  }

}

/* Desktop */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Example rules: */
  body {
      font-size: 2.5rem;
  }
}

/* Desktop Extra-Large  */
@media only screen and (min-width: 1441px) {
  /* Example rules: */
  body {
      font-size: 2.5rem;
  }
}

@keyframes slideIn {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }

}

@keyframes slideOut {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-100%);
  }

}

.back-to-top {
    opacity: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 40px;
    bottom: 40px;
    border-radius: 5px;
    width: 4rem;
    height: 4rem;
    background-color: #6BFE6B;
    transition: opacity 0.2s, background-color 0.2s;
  }

  .back-to-top > i {
    font-size: 2rem;
    color: #353535;
  }

  .back-to-top:hover {
    background-color: #016401;
    cursor: pointer;
  }  

  /* For Mobile */
 .back-to-top {
    right: 20px;
    bottom: 20px;
  }

  .bottompage {
    margin-top: auto;
  }

  .margintop {
    margin-top: 0;
  }